apiVersion: apps/v1
kind: StatefulSet
metadata:
  namespace: project
  name: simple-http-stset
spec:
  serviceName: simple-http-svc
  replicas: 1
  selector:
    matchLabels:
      app: simple-http
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: simple-http
    spec:
      volumes:
        - name: simple-http-volume
          persistentVolumeClaim:
            claimName: simple-http-pvc-2-4
      containers:
        # NOTE: the broadcaster: if replica > 1,
        # NOTE: then use queue for NATS settings,
        # NOTE: or don't be a sidecar(separate dep)
        - name: simple-http-broadcaster
          image: broadcaster
          imagePullPolicy: Always
          resources:
            requests:
              cpu: "10m"
              memory: "32Mi"
            limits:
              cpu: "100m"
              memory: "128Mi"
          env:
            - name: DISCORD_HOOK_URL
              valueFrom:
                secretKeyRef:
                  key: discord_hook
                  name: discord-hook
        # static server
        - name: simple-http-static
          image: static
          imagePullPolicy: Always
          env:
            - name: STATIC_CACHE_DIR # this is passed to the container
              valueFrom:
                secretKeyRef:
                  name: simple-http-secrets
                  key: STATIC_CACHE_DIR
            - name: API_URL
              valueFrom:
                secretKeyRef:
                  key: API_URL
                  name: simple-http-secrets
            - name: API_URI
              valueFrom:
                secretKeyRef:
                  key: API_URI
                  name: simple-http-secrets
            - name: STATIC_CACHE_EXPIRY
              valueFrom:
                secretKeyRef:
                  name: simple-http-secrets
                  key: STATIC_CACHE_EXPIRY
            - name: STATIC_BASE_URL
              valueFrom:
                secretKeyRef:
                  name: simple-http-secrets
                  key: STATIC_BASE_URL
            - name: STATIC_TARGET_ID
              valueFrom:
                secretKeyRef:
                  name: simple-http-secrets
                  key: STATIC_TARGET_ID
            - name: STATIC_PORT
              valueFrom:
                secretKeyRef:
                  name: simple-http-secrets
                  key: STATIC_PORT
            - name: REDIS_URL
              valueFrom:
                secretKeyRef:
                  key: REDIS_URL
                  name: simple-http-secrets
          volumeMounts:
            - name: simple-http-cache-dir
              mountPath: /tmp/simple-http
          resources:
            requests:
              cpu: "100m"
              memory: "64Mi"
            limits:
              cpu: "200m"
              memory: "128Mi"
        # Container for the api server
        - name: simple-http-api
          image: api
          imagePullPolicy: Always
          readinessProbe:
            initialDelaySeconds: 10
            periodSeconds: 5
            httpGet:
              path: /ready
              port: 8061
          env:
            - name: PG_SVC_NAME
              value: placeholder
            - name: REDIS_URL
              valueFrom:
                secretKeyRef:
                  key: REDIS_URL
                  name: simple-http-secrets
            - name: API_URI
              valueFrom:
                secretKeyRef:
                  name: simple-http-secrets
                  key: API_URI
            - name: API_PORT
              valueFrom:
                secretKeyRef:
                  name: simple-http-secrets
                  key: API_PORT
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  key: pguser
                  name: simple-http-secrets
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: pgpassword
                  name: simple-http-secrets
          resources:
            requests:
              cpu: "100m"
              memory: "64Mi"
            limits:
              cpu: "200m"
              memory: "128Mi"
  volumeClaimTemplates:
    - metadata:
        name: simple-http-cache-dir
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 100Mi
