apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# NewNames are for local dev
images:
  - name: cron
    newName: xuanminator/simple-http:2.9-gen
  - name: static
    newName: xuanminator/simple-http:2.9-static
  - name: api
    newName: xuanminator/simple-http:3.5-api
  - name: postgres
    newName: postgres:13
  - name: redis
    newName: redis:7
  - name: backup
    newName: gcr.io/google.com/cloudsdktool/google-cloud-cli:stable

# urls
# branch is pushed first then tags
# so no problem with actions
resources:
  - https://raw.githubusercontent.com/classroom-dee/hobbernetes/4.8/simple_http/volumes/pvc.yaml
  - https://raw.githubusercontent.com/classroom-dee/hobbernetes/4.8/simple_http/manifests/secrets.yaml
  - https://raw.githubusercontent.com/classroom-dee/hobbernetes/4.8/simple_http/manifests/redis.yaml
  - https://raw.githubusercontent.com/classroom-dee/hobbernetes/4.8/simple_http/manifests/pg-stset.yaml
  - https://raw.githubusercontent.com/classroom-dee/hobbernetes/4.8/simple_http/manifests/statefulset.yaml
  - https://raw.githubusercontent.com/classroom-dee/hobbernetes/4.8/simple_http/manifests/service.yaml
  - https://raw.githubusercontent.com/classroom-dee/hobbernetes/4.8/simple_http/manifests/ingress.yaml
  - https://raw.githubusercontent.com/classroom-dee/hobbernetes/4.8/simple_http/manifests/cronjob.yaml
  - https://raw.githubusercontent.com/classroom-dee/hobbernetes/4.8/simple_http/manifests/pg-backup-cron.yaml
  - https://raw.githubusercontent.com/classroom-dee/hobbernetes/4.8/simple_http/manifests/hpa.yaml
  - https://raw.githubusercontent.com/classroom-dee/hobbernetes/4.8/simple_http/manifests/pod-monitor.yaml
  - https://raw.githubusercontent.com/classroom-dee/hobbernetes/4.8/simple_http/manifests/ksa.yaml

patches:
  - path: simple_http/patch-sa.yaml
    target:
      kind: ServiceAccount
      name: gcs-sa
  - path: simple_http/patch-broadcaster.yaml
    target:
      kind: StatefulSet
      name: simple-http-stset
